<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <clientCache cacheControlCustom="Private" cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
</configuration>